html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia.ttf");
  src: local("Georgia Regular"), local("Georgia-Regular"),
    url("../../assets/fonts/georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Georgia";
}

.gradient {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    linear-gradient(0deg, #211f20, #211f20);
}

.gray-bg {
  background-color: #f6f6f6;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  color: #cdcdcd;
}
